---
import BaseLayout from './BaseLayout.astro'
import Giscus from '../components/Giscus/Giscus.astro'
import { format } from 'date-fns'

const { content } = Astro.props
const date = format(new Date(content.date), 'dd/MM/YYY')
---

<BaseLayout title={content.title} metaDescription={content.metaDescription}>
  <div class="overflow-hidden bg-main-light-blue rounded-3xl t-1 bg-clip-padding">
    <div class="w-full">
      <img src={content.heroImg} alt={content.heroImgAlt} class="object-fill" width="640" height="360" />
    </div>
    <div class="px-8 py-2 italic text-right text-black">{date}</div>
    <div class="px-4 pb-4 prose-sm prose text-black md:prose-md prose-emerald lg:prose-lg">
      <slot />
    </div>
  </div>
  <!--Using Giscus for comments-->
  <div class="mt-4 border-2 border-opacity-25 border-main-purple rounded-2xl">
    <div class="pb-8 mx-8 my-2">
      <Giscus />
    </div>
  </div>
</BaseLayout>
